@using CarRental.Entity.Concrete
@model Car

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-section">
    <div class="container-liquid">
        <div class="row">
            <div class="col-xs-12">
                <div class="sec-box">
                    <a class="closethis"></a>
                    <header>
                        <h2 class="heading">Araba Ekleme Formu</h2>
                    </header>
                    <div class="contents">
                        <a class="togglethis"></a>
                        <div class="table-box">
                            <form name="addCarForm" action="/Admin/Cars/Create" method="post" onsubmit="return ValidateAddCarForm()">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-md-4">Açıklama</th>
                                            <th class="col-md-8">Değer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-4">Araba Adı / Markası</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Üretim Yılı</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Aylık Maksimum Ücret</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.MonthlyPayment, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Nakit Teşviği</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.CashIncentive, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Transfer Ücreti</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.TransferFee, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Tasarruf Ücreti</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.DispositionFee, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Kiralama Şirketi</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.LeasingCompany, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Kira Bitiş Tarihi</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.LeaseEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Koltuk Kapasitesi</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.SeatingCapacity, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Benzin Türü</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.GasolineType, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Litre Başına Kaç Kilometre</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.KilometersPerLiter, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Vites Tipi</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.GearType, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">İşlemler</td>
                                            <td class="col-md-8">
                                                <div>
                                                    <input type="submit" value="Ekle" class="btn btn-success style2" style="margin-right: 10px; width: 200px;" />
                                                    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-info style2", style = "width: 200px" })
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ValidateAddCarForm()
    {
        var name = document.addCarForm[0].value;
        var year = document.addCarForm[1].value;
        var monthlyPayment = document.addCarForm[2].value;
        var cashIncentive = document.addCarForm[4].value;
        var transferFee = document.addCarForm[5].value;
        var dispositionFee = document.addCarForm[6].value;
        var leasingCompany = document.addCarForm[7].value;
        var leaseEndDate = document.addCarForm[8].value;
        var seatingCapacity = document.addCarForm[9].value;
        var gasolineType = document.addCarForm[10].value;
        var kilometersPerLiter = document.addCarForm[11].value;
        var gearType = document.addCarForm[12].value;

        if (name == null || name == "" || year == null || year == "" || monthlyPayment == null || monthlyPayment == "" || cashIncentive == null || cashIncentive == "" || transferFee == null || transferFee == "" || dispositionFee == null || dispositionFee == "" || leasingCompany == null || leasingCompany == "" || leaseEndDate == null || leaseEndDate == "" || seatingCapacity == null || seatingCapacity == "" || gasolineType == null || gasolineType == "" || kilometersPerLiter == null || kilometersPerLiter == "" || gearType == null || gearType == "")
        {
            alertify.error("Bilgiler boş bırakılamaz.");
            return false;
        }
    }
</script>