@using CarRental.Entity.Concrete
@using CarRental.Areas.Admin.Models.ViewModels
@using CarRental.Core.Entity.Concrete
@model AdminCarListModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-section">
    <div class="container-liquid">
        <div class="row">
            <div class="col-xs-12">
                <div class="sec-box">
                    <a class="closethis"></a>
                    <header>
                        <h2 class="heading">Arabalar</h2>
                    </header>
                    <div class="contents">
                        <a class="togglethis"></a>
                        <div class="table-box">
                            <script type="text/javascript" src="~/Content/dashboard/assets/js/jquery.dataTables.min.js"></script>
                            <div id="example_wrapper" class="dataTables_wrapper" role="grid">
                                <table class="display table dataTable" id="example" aria-describedby="example_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="center sorting_asc" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending">Numara</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 267px;">İsim</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 267px;">Yıl</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 266px;">Aylık Ücret</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 267px;">Kişi Kapasitesi</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 267px;">Benzin Türü</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 267px;">Litre / Km</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 267px;">Vites Türü</th>
                                            <th class="center" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 267px;">İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" name="search_number" value="Numara ara" class="search_init">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" name="search_name" value="İsim / Marka ara" class="search_init">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" name="search_year" value="Yıl ara" class="search_init">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" name="search_monthlypayment" value="Aylık ücret ara" class="search_init">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" name="search_seatingcapacity" value="Oturma kapasitesi ara" class="search_init">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" name="search_gasolinetype" value="Benzin türüne göre ara" class="search_init">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" name="search_kilometersperliter" value="Litre başına kilometreye göre ara" class="search_init">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" name="search_geartype" value="Vites türüne göre ara" class="search_init">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <a class="btn btn-info style2" href="/Admin/Cars/Create">
                                                    <i class="glyphicon glyphicon-plus"></i> Yeni Ekle
                                                </a>
                                            </th>
                                        </tr>
                                    </tfoot>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        @{ int index = 1; }
                                        @foreach (Car car in Model.Cars)
                                        {
                                            string trClass = index % 2 == 0 ? "even" : "odd";

                                            <tr class="gradeA @trClass">
                                                <td class="sorting_1 center">@index</td>
                                                <td class="center">@car.Name</td>
                                                <td class="center">@car.Year</td>
                                                <td class="center">@car.MonthlyPayment.ToString("c")</td>
                                                <td class="center">@car.SeatingCapacity</td>
                                                <td class="center">@car.GasolineType</td>
                                                <td class="center">@car.KilometersPerLiter</td>
                                                <td class="center">@car.GearType</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle style3" type="button">İşlemler <span class="caret"></span></button>
                                                        <ul role="menu" class="dropdown-menu">
                                                            <li>@Html.ActionLink("Düzenle", "Edit", new { id = car.Id }, new { style = "font-weight: bold" })</li>
                                                            <li>@Html.ActionLink($"Durumu Değiştir ({(car.Status == Status.Active ? "Aktif" : "Pasif")})", "ChangeStatus", new { id = car.Id }, new { style = "font-weight: bold" })</li>
                                                            <li>@Html.ActionLink("Sil", "Delete", new { id = car.Id }, new { style = "font-weight: bold" })</li>
                                                            <li class="divider"></li>
                                                            <li>@Html.ActionLink("Detayları Görüntüle", "Details", new { id = car.Id }, new { style = "font-weight: bold" })</li>
                                                            <li><a href="/Car/Details/1" style="font-weight: bold">Araç Sayfasını Görüntüle</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>

                                            index++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <script>
                                var asInitVals = new Array();
                                $(document).ready(function () {
                                    var oTable = $('#example').dataTable({
                                        "oLanguage": {
                                            "sSearch": "Tabloda ara:"
                                        }
                                    });

                                    $("tfoot input").keyup(function () {
                                        oTable.fnFilter(this.value, $("tfoot input").index(this));
                                    });

                                    $("tfoot input").each(function (i) {
                                        asInitVals[i] = this.value;
                                    });

                                    $("tfoot input").focus(function () {
                                        if (this.className == "search_init") {
                                            this.className = "";
                                            this.value = "";
                                        }
                                    });

                                    $("tfoot input").blur(function (i) {
                                        if (this.value == "") {
                                            this.className = "search_init";
                                            this.value = asInitVals[$("tfoot input").index(this)];
                                        }
                                    });
                                });
                            </script>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>