@using CarRental.Entity.Concrete
@model TeamMember

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-section">
    <div class="container-liquid">
        <div class="row">
            <div class="col-xs-12">
                <div class="sec-box">
                    <a class="closethis"></a>
                    <header>
                        <h2 class="heading">Takım Üyesine Ait Detaylar</h2>
                    </header>
                    <div class="contents">
                        <a class="togglethis"></a>
                        <div class="table-box">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-md-4">Açıklama</th>
                                        <th class="col-md-8">Değer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-md-4">İsim</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Pozisyon</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success">
                                                @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Resim</td>
                                        <td class="col-md-8">
                                            <img src="~/Content/img/team/@Model.Image" alt="@Model.Image" width="200" height="200" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Facebook</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success" onclick="window.open('http://www.' + '@Model.FacebookLink')">
                                                @Html.EditorFor(model => model.FacebookLink, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Instagram</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success" onclick="window.open('http://www.' + '@Model.InstagramLink')">
                                                @Html.EditorFor(model => model.InstagramLink, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Skype</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success" onclick="window.open('http://www.' + '@Model.SkypeLink')">
                                                @Html.EditorFor(model => model.SkypeLink, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Telegram</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success" onclick="window.open('http://www.' + '@Model.TelegramLink')">
                                                @Html.EditorFor(model => model.TelegramLink, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Linkedin</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success" onclick="window.open('http://www.' + '@Model.LinkedinLink')">
                                                @Html.EditorFor(model => model.LinkedinLink, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Eklenme Tarihi</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success">
                                                @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Eklenilen Bilgisayarın Adı</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success">
                                                @Html.EditorFor(model => model.CreatedComputerName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Eklenen Bilgisayardaki Kullanıcı Adı</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success">
                                                @Html.EditorFor(model => model.CreatedUserName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Son Güncellenme Tarihi</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success">
                                                @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Son Güncellenen Bilgisayarın Adı</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success">
                                                @Html.EditorFor(model => model.ModifiedComputerName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Son Güncellenen Bilgisayarın Kullanıcı Adı</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success">
                                                @Html.EditorFor(model => model.ModifiedUserName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Durum</td>
                                        <td class="col-md-8">
                                            <div class="form-group has-success">
                                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">İşlemler</td>
                                        <td class="col-md-8">
                                            <div>
                                                @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-info style2", style = "width: 150px" })
                                                @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-success style2", style = "width: 150px" })
                                                @Html.ActionLink("Durumu Değiştir", "ChangeStatus", new { id = Model.Id }, new { @class = "btn btn-warning style2", style = "width: 150px" })
                                                @Html.ActionLink("Sil", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger style2", style = "width: 150px" })
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>