@using CarRental.Entity.Concrete
@using CarRental.Areas.Admin.Models.ViewModels
@model DeviceMovementModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-section">
    <div class="container-liquid">
        <div class="row">
            <div class="col-xs-12">
                <div class="sec-box">
                    <a class="closethis"></a>
                    <header>
                        <h2 class="heading">Cihaz Hareketi Ekleme Formu</h2>
                    </header>
                    <div class="contents">
                        <a class="togglethis"></a>
                        <div class="table-box">
                            <form name="addDeviceMovementForm" action="/Admin/DeviceMovements/Create" method="post" onsubmit="return ValidateAddDeviceMovementForm()">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-md-4">Açıklama</th>
                                            <th class="col-md-8">Değer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-4">Cihaz</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    <select class="form-control" name="DeviceId" id="DeviceId">
                                                        @foreach (Device device in Model.Devices)
                                                        {
                                                            <option value="@device.Id">@device.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Enlem</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.DeviceMovement.Latitude, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Boylam</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.DeviceMovement.Longitude, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Hareket Durumu</td>
                                            <td class="col-md-8">
                                                @Html.EditorFor(model => model.DeviceMovement.IsGoing, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">İşlemler</td>
                                            <td class="col-md-8">
                                                <div>
                                                    <input type="submit" value="Ekle" class="btn btn-success style2" style="margin-right: 10px; width: 200px;" />
                                                    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-info style2", style = "width: 200px" })
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ValidateAddDeviceMovementForm()
    {
        var deviceId = document.addDeviceMovementForm[0].value;
        var latitude = document.addDeviceMovementForm[1].value;
        var longitude = document.addDeviceMovementForm[2].value;
        var currentDate = document.addDeviceMovementForm[3].value;

        if (deviceId == null || deviceId == "" || latitude == null || latitude == "" || longitude == null || longitude == "" || currentDate == null || currentDate == "")
        {
            alertify.error("Bilgiler boş bırakılamaz.");
            return false;
        }
    }
</script>